version: '3.1'


services:
  app:
    build:
      context: .
    env_file:
      - .env
    ports:
      - 8000:80
    # volumes:
    #   - ./app:/code/app
    # command: opentelemetry-instrument uvicorn app.main:app --host 0.0.0.0 --port 80 --reload
