apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: password-generator-ingress
  namespace: password-generator
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  ingressClassName: traefik-external
  rules:
    - host: password.gabrielcarvalho.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: password-generator-svc
                port:
                  number: 80
  tls:
    - hosts:
        - password.gabrielcarvalho.dev
      secretName: certificate-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: password-generator-multiple-workers-ingress
  namespace: password-generator
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  ingressClassName: traefik-external
  rules:
    - host: py-fapi-guvicorn-workers.gabrielcarvalho.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: password-generator-multiple-workers-svc
                port:
                  number: 80
  tls:
    - hosts:
        - py-fapi-guvicorn-workers.gabrielcarvalho.dev
      secretName: certificate-tls-multiple-workers
